<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        text-align="center"
    </style>

</head>

<body>
<header th:insert="blocks/header :: header"></header>

<center>

    <h1 class="h3 mb-3 font-weight-normal">Add User Successful</h1>
    <p class="mt-5 mb-3 text-muted">© 2020 by BessAleks</p>

</center>
</body>

</html>